body {
    font-family: DejaVu Sans Mono, monospace;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.5em;
    font-size: 1.1em;
    background-color: #282c34;
    color: #bbc2cf;
    padding: 0 10px;
    hyphens: auto;
}

img {
    max-width: 80vw;
}

a {
    color: #ff6c6b;
    text-decoration: none;
}
a:hover {
    color: #ff6c6b;
    text-decoration: underline;
}
.underline-links a {
    text-decoration: underline;
}

h2 {
    display: inline;
    line-height: 1.2;
    color: #51afef;
    font-size: 1.2em;
}

input {
    background-color: #282c34;
    color: #bbc2cf;
}

.pagination {
    margin-right: 1ch;
    text-align: center;
}
.pagination ul > li {
    list-style: none;
    display: inline-block;
    padding-left: 1ch;
}
