{% extends "base.html" %} {% block content %}
<div style="text-align: center">
  <h2>Definition not found: {{ term }}</h2>
  {% if similar_words %}
  {% for word in similar_words %}
  <h3 class="underline-links">{{ word | safe }}</h3>
  {% endfor %}
  {% else %}
  <p>There are no similar words. Try correcting your search.</p>
  {% endif %}
</div>
{% endblock %}
