<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', path='img/favicon.png') }}" />
    <title>{{ site_title }}</title>
    <meta name="description" content="{{ site_description }}" />
    <!-- The Open Graph Protocol meta tags -->
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site_title }}" />
    <meta property="og:description" content="{{ site_description }}" />
    <meta property="twitter:domain" content="{{ request.url.hostname }}" />
    <meta property="twitter:url" content="{{ request.url }}" />
    <meta name="twitter:title" content="{{ site_title }}" />
    <meta name="twitter:description" content="{{ site_description }}" />
  </head>
  <body>
    <div style="text-align: center">
      <a href="/">
        <img src="{{ url_for('static', path='img/logo.png') }}" alt="logo" />
      </a>
      <form id="search" role="search" method="get" action="/define.php">
        <input
          autocomplete="off"
          type="search"
          id="term"
          name="term"
          placeholder="Search"
          aria-label="Search"
          value="{{ term if request.url.path == '/define.php' else '' }}"
          autofocus
        />
        <button>Go</button>
      </form>
      <a href="/random.php">Random</a>
      <br />
      <a href="https://git.vern.cc/cobra/rural-dict">Source Code</a>
    </div>
    <br />
    {% block content %}{% endblock %}
  </body>
</html>
