{% extends "base.html" %}
{% block content %}
{% for definition_id, word, meaning, example, contributor, thumbs_up, thumbs_down in results %}
<div data-id="{{ definition_id }}">
  <a href="/define.php?term={{ word }}">
    <h2>{{ word }}</h2>
  </a>
  <div class="underline-links">
    <p>{{ meaning | safe }}</p>
    <p><i>{{ example | safe }}</i></p>
  </div>
  <div>{{ contributor | safe }}</div>
  {% if thumbs_up is not none and thumbs_down is not none %}
  <p>
    <span title="thumbs up">👍{{ thumbs_up }}</span>
    <span title="thumbs down">👎{{ thumbs_down }}</span>
  </p>
  {% endif %}
</div>
<br />
{% endfor %}
{% if pagination %}{{ pagination | safe }}{% endif %}
{% endblock %}
